<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Post</h3>
  </div>
  
  <div class="panel-body">
    <div class="form-group">
      
      
      <%= form_for @post do |f| %>
        
        <p>
          <%= f.text_field :title, class: "form-control", placeholder: "title" %>
        </p>
        <div class="form-group">
          <p>
            <%= f.text_area :body, class: "form-control", placeholder: "post here" %>
          </p>
        </div>
        <p>
          <%= f.submit %><br>
        </p>
      <% end %>

      
    </div>
  </div>
</div>