/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

a {
  color: #EA4C27; 
}

body {
  padding-top: 50px;
}

.navbar {
  color: #EA4C27;
}

#signin {
  padding-top: 12px;
}

#sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 50px;
  height: 100%;
  background: #efeded;
}

#logo {
  max-width: 100px;
  position: absolute;
  margin: 3em 3em 3em 5em;
}

#main {
  padding-left: 300px;
}

.panel {
  margin-right: 30px;
}

.panel-heading {
  color: #EA4C27 !important;
  background: black !important;
}

#pic-list {
  list-style: none;
  float: left;
}

#new-post-form {
  margin-top: 70px;
}

.mini-profile-image {
  border-radius: 50%;
  float: left;
  margin: 0px 20px 10px 10px;
}

#main-profile-pic {
  width: 100px;
}

.profile-bar {
  margin-right: 100px;
}

#name-size {
  font-size: 20px;
}

.users-section {
  margin-top: 70px;
}

.post-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 10px; 
}

.title {
  font-weight: bold;
  font-size: 40px;
}

.author-button {
  margin-top: 30px;
}

#showlink {
  color: grey !important;
  font-size: 30px;
}

#each-comment {
  margin-bottom: 10px;
}

.btn {
  border-radius: 10px;
  width: 100px;
  background: black;
  color: white;
  text-align: center;
  padding: 2px;
}






